@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,system-ui,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.ant-space{
    display: block;
}

.ant-checkbox-group{
    height: 40vh;
    overflow-x: auto;
    padding-left: 20px;
}

.ant-checkbox-group label{
    width: 100%;
    margin-bottom: 20px;
}